    html {width:100%}
    body {width:100%}
    table { border-collapse:collapse; border-spacing:0; empty-cells:show; width:100%;}
    td, th { vertical-align:top; font-size:12pt;width:100%;}
    h1, h2, h3, h4, h5, h6 { clear:both;background-color #173052;width:100%}
    ol, ul { margin:0; padding:0;}
    li { list-style: none; margin:0; padding:0;}
    /* "li span.odfLiEnd" - IE 7 issue*/
    li span. { clear: both; line-height:0; width:0; height:0; margin:0; padding:0; }
    span.footnodeNumber { padding-right:1em; }
    span.annotation_style_by_filter { font-size:95%; font-family:Arial; background-color:#fff000;  margin:0; border:0; padding:0;  }
    span.heading_numbering { margin-right: 0.8rem; }* { margin:0;}
    .Standard { font-size:12pt; font-family:Liberation Serif; writing-mode:horizontal-tb; direction:ltr;}
    .Table_20_Contents { font-size:12pt; font-family:Liberation Serif; writing-mode:horizontal-tb; direction:ltr;}
    .Tabla1 { width:25%; margin-left:0cm; margin-right:auto;}
    .Tabla1_A1 { padding:0cm; border-style:none; writing-mode:horizontal-tb; direction:ltr;}
    .Tabla1_A { width:100%; }
    .Tabla1_B { width:100%; }
    /* ODF styles with no properties representable as CSS */
    .Tabla1.1 .Tabla1.2 .Tabla1.3  { }
